<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <!-- <div class="jumbotron text-center"> -->
      <div class="col-md-12 text-center border border-primary rounded-sm">
        <h1>Welcome to {{ title }}!</h1>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>All the Tasks:</h2>
      <ul>
        <!-- <li>
          <p>{{ tasks | json }}</p>
        </li> -->
        <li *ngFor="let task of tasks">
          <p>{{task.title}} || {{task.description}}</p>
        </li>
      </ul>
      <input type="text" [(ngModel)]='title'>
      <!-- <input type="text" [(ngModel)]='tasks'> -->
      <!-- {{title}} -->
    </div>  
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>First Task:</h3>
        <ul *ngFor="let task of task">
          <li>{{task.title}} || {{task.description}}</li>
        </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-8">
      <form (submit)="onSubmit()">
        <p> {{ Task | json }} </p>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
        <input type="submit" value="Create Task"/>
        <button>Submit</button>
      </form>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-8" *ngFor="let task of tasks">
      {{task.title}} || {{task.description}}
    </div>
  </div> -->
</div>
  <router-outlet></router-outlet>

