<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center border border-primary rounded-lg">
      <h1>Welcome to {{ title }}!</h1>
      <button class="btn btn-primary" (click)='mainButtonClick()'>Get All Tasks</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 border border-warning rounded-sm" *ngFor="let task of tasks">
      <p>{{task.title}}</p>
      <p id="{{task._id}}" style="visibility:hidden">{{task.description}}</p>
      <button (click)='subButtonClick(task._id)'>Show</button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-8">
      <h2>All the Tasks:</h2>
      <ul>
        <li *ngFor="let task of tasks">
          <p>{{task.title}} || {{task.description}}</p>
        </li>
      </ul>
      <input type="text" [(ngModel)]='title'>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>First Task:</h3>
        <ul *ngFor="let task of task">
          <li>{{task.title}} || {{task.description}}</li>
        </ul>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-8">
      <form (submit)="onSubmit()">
        <p> {{ Task | json }} </p>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
        <input type="submit" value="Create Task"/>
        <button>Submit</button>
      </form>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-8" *ngFor="let task of tasks">
      {{task.title}} || {{task.description}}
    </div>
  </div> -->
</div>
  <router-outlet></router-outlet>

